[tool.poetry]
name = "black-it"
version = "0.2.1"
description = "black-it: Black-box abm calibration kit"
authors = [
    "Applied Research Team <appliedresearchteam@bancaditalia.it>",
    "Gennaro Catapano <gennaro.catapano@bancaditalia.it>",
    "Francesco De Sclavis <desclavis@bancaditalia.it>",
    "Marco Favorito <marco.favorito@bancaditalia.it>",
    "Aldo Glielmo <aldo.glielmo@bancaditalia.it>",
    "Davide Magnanimi <davide.magnanimi@bancaditalia.it>",
    "Antonio Muci <antonio.muci@bancaditalia.it>",
]
license = "AGPL-3.0-or-later"
readme = "README.md"
homepage = "https://github.com/bancaditalia/black-it"
repository = "https://github.com/bancaditalia/black-it.git"
documentation = "https://bancaditalia.github.io/black-it"
keywords = [
    "agent-based models",
    "black-box calibration",
]
classifiers = [
    'Development Status :: 3 - Alpha',
    'Intended Audience :: Developers',
    'Intended Audience :: Science/Research',
    'License :: OSI Approved :: GNU Affero General Public License v3 or later (AGPLv3+)',
    'Natural Language :: English',
    'Programming Language :: Python :: 3',
    'Programming Language :: Python :: 3.8',
    'Programming Language :: Python :: 3.9',
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Topic :: Scientific/Engineering'
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/bancaditalia/black-it/issues"
"Pull Requests" = "https://github.com/bancaditalia/black-it/pulls"

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
GPy = {git = "https://github.com/SheffieldML/GPy.git", rev = "f63ed48"}
ipywidgets = "^8.0.4"
matplotlib = "^3.7.1"
numpy = ">=1.23.3,<1.24.0"
pandas = "^1.5.3"
scikit-learn = "^1.2.2"
seaborn = "^0.12.2"
statsmodels = "^0.13.2"
tables = "^3.8.0"
xgboost = "^1.7.2"
scipy = "^1.10.1"
joblib = "^1.2.0"

[tool.poetry.dev-dependencies]
bandit = "^1.7.4"
black = "^23.1.0"
codecov = "^2.1.12"
darglint = "^1.8.1"
flake8 = "^5.0.4"
flake8-bugbear = "^23.3.12"
flake8-docstrings = "^1.7.0"
flake8-eradicate = "^1.4.0"
flake8-isort = "^6.0.0"
hypothesis = "^6.70.0"
ipython = "^8.3.0"
isort = "^5.12.0"
jupyter = "^1.0.0"
Markdown = "^3.3.7"
markdown-include = "^0.8.1"
Mesa = "^0.9.0"
mistletoe = "^0.8.2"
mkdocs = "^1.4.2"
mkdocs-autorefs = "^0.4.1"
mkdocs-material = "^9.1.3"
mkdocs-material-extensions = "^1.1.1"
mkdocstrings = "^0.20.0"
mkdocstrings-python-legacy = "^0.2.3"
mknotebooks = "==0.7.1.post0.dev808"
mypy = "^1.1.1"
nbmake = "^1.3.0"
ndlib = "^5.1.1"
pydocstyle = "^6.1.1"
pylint = "^2.17.0"
pymdown-extensions = "^9.10"
pytest = "^7.1.2"
pytest-cov = "^3.0.0"
pytest-randomly = "^3.12.0"
safety = "^2.3.4"
tox = "^4.4.7"
twine = "^4.0.0"
vulture = "^2.3"

GPy = { version = "^1.10.0", optional = true }
xgboost = { version = "^1.7.2", optional = true }

[tool.poetry.extras]
gp-sampler = ["GPy"]
xgboost-sampler = ["xgboost"]
all = ["GPy", "xgboost"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.vulture]
exclude = ["examples/models"]
ignore_decorators = []
ignore_names = []
verbose = false
