name: docs

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'AUTHORS.md'
      - 'CONTRIBUTING.md'
      - 'HISTORY.md'
      - 'README.md'
  pull_request:
    paths:
      - 'docs/**'
      - 'AUTHORS.md'
      - 'CONTRIBUTING.md'
      - 'HISTORY.md'
      - 'README.md'
  # workflow_dispatch allows a user to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  run:
    continue-on-error: True
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10"]

    timeout-minutes: 30

    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@master
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        # Strictly, We just need tox, but in order to deduce its version from
        # the lockfile we also need Poetry.
        # This snippet uses the same trick used in test.yml.
        pip install poetry==$(python scripts/estimate_poetry_version.py)
        pip install tox==$(poetry export --only=dev --without-hashes | python scripts/estimate_tox_version.py)

        # Install markdown-spellcheck
        sudo npm install -g markdown-spellcheck
    - name: Generate Documentation
      run: tox -e docs
    - name: Run markdown-spellcheck
      run: tox -e spell_check
