name: lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  run:
    continue-on-error: True
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.8]

    timeout-minutes: 30

    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@master
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run:  pip install tox
    - name: Code style check
      run: |
        tox -e black-check
        tox -e vulture
        tox -e darglint
    - name: Static type check
      run: tox -e mypy
    - name: Check copyright
      run: tox -e check-copyright
    - name: Misc checks
      run: |
        tox -e bandit
        tox -e safety